<web-app>
	<display-name>hessian-demo</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>hessian-service</servlet-name>
		<servlet-class>
			com.caucho.hessian.server.HessianServlet
		</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>
				<!-- 服务实现类 -->
				com.gogo.hessian.BasicService
			</param-value>
		</init-param>

		<init-param>
			<param-name>home-api</param-name>
			<!-- 服务接口 -->
			<param-value>com.gogo.hessian.BasicAPI</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>hessian-service</servlet-name>
		<url-pattern>/hessian</url-pattern>
	</servlet-mapping>

</web-app>